<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-eRBWzmB2s_GpApytXN0ibg83e8tp5CA</string>
	<key>GCM_SENDER_ID</key>
	<string>66040998353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cuseCafeConnect</string>
	<key>PROJECT_ID</key>
	<string>cusecafeconnect-59117</string>
	<key>STORAGE_BUCKET</key>
	<string>cusecafeconnect-59117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66040998353:ios:329c719b880fc147fb98f0</string>
</dict>
</plist>